<h1><%= @user.name %></h1>

<% @user.recipes.each do |recipes| %>
 <ul><li><%= link_to recipes.name, recipes%></li></ul>
 <% end %>

 <%= link_to "Delete User", user_path(@user), method: "delete", data: {confirm: 'are you sure, you will lose all your recipes'} %>